@import '~saagie-ui/src/scss/index.scss';

.sdk-a-logs {
  background-color: $sui-color-brand-denim-800;
  color: $sui-color-brand-denim-100;
  border-radius: $sui-border-radius-md;
  font-family: $sui-font-family-code;
  height: 100%;

  &__line {
    padding-left: $sui-space-xs;
    display: flex;
    font-size: $sui-font-size-sm;

    $this: &;

    &:hover {
      background-color: $sui-color-brand-denim-700;

      #{$this}-clock {
        visibility: visible;
      }
    }

    &-clock {
      color: $sui-color-brand-denim-500;
      visibility: hidden;
    }

    &-index {
      min-width: $sui-space-xxl;
      text-align: right;
      color: $sui-color-brand-denim-500;
      user-select: none;
    }

    &-content {
      margin-left: $sui-size-xxs;
      white-space: nowrap;

      &.as--error {
        color: $sui-color-brand-akane;
        font-weight: bold;
      }
    }
  }
}

.sdk-o-side-panel {
  &__trigger {
    background: $sui-color-brand-denim-800;
    position: absolute;
    top: 50%;
    z-index: 12;
    margin-top: -40px;
    padding: $sui-space-lg $sui-space-sm $sui-space-lg $sui-space-sm;
    border-radius: 0 $sui-border-radius-md $sui-border-radius-md 0;
  }
}

.sdk-m-card {
  border-radius: $sui-border-radius-md;
  padding: $sui-space-sm;
  cursor: pointer;

  &.as--error {
    background: $sui-color-danger;
    color: white;
  }

  &.as--success {
    background: $sui-color-success;
  }
}
